@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
  --main: #ff6e01;
  --bg: #f1e1d2;
  --black: #000;
  --white: #fff;
  --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
}

*{
  font-family:'Product Sans', Arial, sans-serif;;
  margin: 0; padding: 0;
  box-sizing: border-box;
  outline: none; border: none;
  text-decoration: none;
  
  transition: .2s linear;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}

html::-webkit-scrollbar{
  width: 1rem;
}

html::-webkit-scrollbar-track{
  background: transparent;
}

html::-webkit-scrollbar-thumb{
  background: var(--main);
  border-radius: 5rem;
}

section{
  padding: 8rem 7%;
}

.heading{
  text-align: center;
  font-size: 4rem;
  color: var(--main);
  text-transform: uppercase;
  margin-bottom: 3rem;
  padding: 1.2rem 0;
}

.btn{
  font-size: 1.7rem;
  display: inline-block;
  background: var(--main);
  color: var(--white);
  box-shadow: var(--box-shadow);
  border-radius: 5rem;
  padding: 0.9rem 3rem;
  margin-top: 1rem;
  z-index: 0;
  position: relative;
  overflow: hidden;
}

.btn::before{
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 0%;
  background: #ff9748;
  z-index: -1;
  transition: .3s linear;
  left: 0;
}

.btn:hover::before{
  width: 100%;
}




/* header */

.header{
  position: fixed;
  top: 0; left: 0; right: 0;
  z-index: 1000;
  background: var(--white);
  box-shadow: var(--box-shadow);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
}

.header .logo{
  font-size: 2.5rem;
  font-weight: bolder;
  color: var(--black);
}



.header .navbar a{
  font-size: 1.7rem;
  color: var(--black);
  margin: 0 1rem;
}

.header .navbar a:hover{
  color: var(--main);
  background-color: #AED6F1 ;
  padding: 16px;
  border-radius: 50px;
}

.header .icons div{
  font-size: 2.5rem;
  margin-left: 1.7rem;
  cursor: pointer;
  color: var(--black);
}

.header .icons div:hover{
  color: var(--main);
}

#menu-btn{
  display: none;
}

.boton-donar {
  background-color: #AED6F1 ;
  color: var(--main);
  padding: 10px;
  border-radius: 50px;
}

/* login form */

.header .login-form{
  position: absolute;
  top: 115%;
  right: -105%;
  background: var(--white);
  border-radius: .5rem;
  box-shadow: var(--box-shadow);
  width: 35rem;
  padding: 2rem;
}

.header .login-form.active{
  right: 2rem;
  transition: .4s linear;
}

.header .login-form h3{
  font-size: 2.2rem;
  color: var(--black);
  text-transform: uppercase;
  margin-bottom: .7rem;
  text-align: center;
}

.header .login-form .box{
  font-size: 1.5rem;
  padding: 1rem 1.2rem;
  border: .1rem solid rgba(0, 0, 0, 0.1);
  margin: .7rem 0;
  color: var(--black);
  width: 100%;
  text-transform: none;
}

.header .login-form .remember{
  display: flex;
  align-items: center;
  gap: .5rem;
  margin: .7rem 0;
}

.header .login-form .remember label{
  font-size: 1.5rem;
  color: var(--black);
  cursor: pointer;
}

.header .login-form .btn{
  width: 100%;
  text-align: center;
}



/* home */

.home{
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(../images/dog-portada1.jpg) no-repeat;
  background-size: cover;
  background-position: top;
}

.home .content{
  max-width: 60rem;
 
}

.home .content h3{
  color: var(--white);
  font-size: 6rem;
  line-height: 1.4;
  font-weight: 400;
}

.home .wave{
  position: absolute;
  bottom: 0; left: 0;
  width: 100%;
  height: 20rem;
  
}


/* end */

/* about */

.about .box-container{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 6rem;
}

.about .deco-title{
  font-size: 10rem;
  font-weight: 700;
  white-space: nowrap;
  line-height: 0.5;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px rgb(204,204,204);
  transform-origin: top left;
  transform: rotate(0.25turn);
  position: absolute;
  top: 115%;
  left: 48%;
  z-index: -1;
}

.about .box-container .image{
  flex: 1 1 31rem;
}

.about .box-container .image img{
  width: 100%;
}

.about .content{
  flex: 1 1 41rem;
}

.about .content .title{
  font-size: 4rem;
  color: var(--black);
}

.about .content p{
  font-size: 1.7rem;
  color: #444;
  padding: 1rem 0;
  line-height: 2;
}

.about .content .icons-container{
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  margin-top: 3rem;
}

.about .content .icons-container .icons{
  flex: 1 1 16rem;
  text-align: center;
  background: #AED6F1 ;
  padding: 3rem 2rem;
}

.about .content .icons-container .icons .fas{
  height: 5rem;
  font-size: 4rem;
  color: #AED6F1 ;
}

.about .content .icons-container .icons h3{
  padding-top: 1rem;
  font-size: 1.5rem;
  color: #444;
  font-weight: normal;
}

/* end */

/* gallery */

.gallery{
  background: var(--bg);
}

.gallery .slide .image{
  height: 30rem;
  overflow: hidden;
  position: relative;
}

.gallery .slide .image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev{
  color: var(--white);
}

/* end */

/* animals */

.animal .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem,1fr));
  gap: 2rem;
}

.animal .box-container .box{
  height: 100%;
  position: relative;
  overflow: hidden;
}

.animal .box-container .box img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.animal .box-container .box:hover img{
  transform: scale(1.1);
}

.animal .box-container .box .content{
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0; right: 0;
  padding: 20px;
  z-index: 1;
  transition: 0.5s ease;
}

.animal .box-container .box:hover::after{
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: var(--black);
  opacity: 0.5;
  transition: 0.5s ease;
}

.animal .box-container .box .content h3{
  text-align: center;
  font-size: 3rem;
  color: var(--white);
}

.animal .box-container .box:is(:hover, :focus-within) .content{
  transform: translateY(-20px);
}

/* end */

/* banner */

.banner{
  background-color: #AED6F1 ;
}

.banner .row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.banner .row .content{
  flex:  1 1 39rem;
}

.banner .row .content h3{
  font-size: 2rem;
  color: var(--main);
  text-transform: uppercase;
}

.banner .row .content p{
  font-size: 1.6rem;
  color: var(--black);
  padding: 1rem 0;
  margin-right: 100px;
  line-height: 1.5;
}

.banner .row .image{
  flex: 1 1 41rem;
  margin-bottom: -14rem;
}

.banner .row .image img{
  width: 100%;
}

.img-banner3 {
  border-radius: 10px;
}

.video-responsive iframe{
  width: 400px;
  height: 300px;
  padding-left: -500px;
  
}

/* end */

/* pricing */

.pricing .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.pricing .box-container .box{
  background: var(--bg);
  padding: 3rem;
  text-align: center;
  border-radius: 79% 51% 81% 19% / 58% 93% 7% 42%;
}

.pricing .box-container .box:hover{
  border-radius: .5rem;
}

.pricing .box-container .box img{
  height: 15.5rem;
  width: 15.5rem;
  margin-bottom: .5rem;
  border-radius: 50px;
}

.pricing .box-container .box h3{
  font-size: 2.6rem;
  color: var(--black);
  padding: 1rem 0;
}

.pricing .box-container .box .price{
  font-size: 2.2rem;
  color: var(--main);
  padding: .5rem 0;
}

.pricing .box-container .box p{
  font-size: 1.5rem;
  color: var(--black);
  padding: .5rem 0;
}


/* end */

/* contact */

.contact{
  background: var(--bg);
}

.contact form{
  padding: 2rem 10%;
  text-align: center;
}

.contact form .inputBox{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact form .inputBox input,
.contact form textarea{
  font-size: 1.7rem;
  width: 49%;
  padding: 1rem 2rem;
  margin: 1rem 0;
  border-radius: .5rem;
  text-transform: none;
}

.contact form .inputBox input::placeholder,
.contact form textarea::placeholder{
  text-transform: capitalize;
}

.contact form textarea{
  height: 15rem;
  resize: none;
  width: 100%;
}

/* end */

/* Page 3 */

.carousel-container {
  margin-bottom: 0;
}

.carousel {
  text-align: center;
  color: #ffffff;
  
}

.carousel-cell {
  display: grid;
  margin-right: 20px;
  overflow: hidden;
  width: 100%;
}

.carousel-cell img {
  display: block;
  height: 400px;
}

.carousel-slide {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  max-width: 100%;
  height: 100vh;
}

.carousel-slide-image {
  display: grid;
  justify-self: end;
  align-self: center;
}

.carousel-slide-copy {
  display: grid;
  justify-self: start;
  align-self: center;
  text-align: left;
  max-width: 400px;
  width: 100%;
}

.carousel-slide-copy h1 {
  font-size: 4rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #ffffff;
}

.carousel-slide-copy p {
  font-size: 25px;
 
  color: #ffffff;
}

.carousel-slide-copy a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1rem;
}

.carousel-arrow {
  display: none;
  justify-items: center;
  cursor: pointer;
  position: absolute;
  left: 50%;
  bottom: 6rem;
  color: #ffffff;
  width: 17px;
  height: 48px;
}

.flickity-page-dots {
  bottom: 400px;
}

.dot {
  border: 1px solid white;
}

/* Página guía mascotera */
.main-guia {
  background: var(--main);
  color: #fff;
  height: 800px;
}


@keyframes sway {
  0% {
    transform: rotate(8deg);
  }
  50% {
    transform: rotate(-8deg);
  }
  100% {
    transform: rotate(8deg);
  }
}

.object {
  position: absolute;
  animation: sway 2.4s infinite;
  animation-timing-function: ease-in-out;
  -webkit-transform-origin: top;
  -moz-transform-origin: top;
  transform-origin: top;
  left: 0;
  right: 0;
  height: 10%;
  z-index: 999;
  text-transform: uppercase;
}

.object-shape {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: block;
  background-color: #2187C7;
  margin: 0 auto;
  position: relative;
  color: #fff;
  text-align: center;
  padding-top: 50px;
  font-weight: 800;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.object-shape span {
  font-size: 22px;
  color:white;
 
}


.object-rope {
  height: 100%;
  width: 2px;
  background-color:#126b8f;
  content: "";
  display: block;
  margin-left: 50%;
}

.content-soon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 700px;
  padding: 28vh 20px 20px 20px
}

.img-logo {
  max-width: 300px;
  border-radius: 30px;
  
}

.message {

  font-family: sans-serif;
  text-align: center;
}

.message {
  font-size: large;
  margin-top: 40px;
}


 
 .site{
   display:flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
 }
 .wrapper{
   display:flex;
   height: 20vh;
   flex-direction: row;
   padding: 0 20px;
   align-items: center;
   justify-content: center;
 }
 
 
 
 .fab {
 margin: auto;
 
 }
 .social{
   color: #FFF;
   transition: all 0.35s;
   transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
 }
 .social:hover {
   text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
   transition: all ease 0.5s;
   -moz-transition: all ease-in 0.5s;
   -webkit-transition: all ease-in 0.5s;
   -o-transition: all ease-in 0.5s;
   
 }
 
 .facebook {
  color:#4267B2;
 }
 
 .twitter {
 color:#1DA1F2;
 
 }
 .youtube {
       color:#c4302b;
 }
 .pinterest {
    color:#c8232c;
 }
 .instagram {
  color: transparent;
   background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
   background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
   background-clip: text;
   -webkit-background-clip: text;
 
 }
 .tumblr {
         color: #34526f;
 }
 .whatsapp {
         color:#25D366;
 }
 
 .bg-ico {
   display: flex;
   background-color: #FFF;
   width: 90px;
   height: 90px;
   line-height: 90px;
   margin: 0 5px;
   text-align: center;
   position: relative;
   overflow: hidden;
   border-radius: 28%;
   box-shadow: 0 5px 15px -5px rgba(0,0,0,0.1);
   opacity: 0.99;
   -webkit-transition: background-color 2s ease-out;
   -moz-transition: background-color 2s ease-out;
   -o-transition: background-color 2s ease-out;
   transition: background-color 2s ease-out;
   
 }
 .bg-ico:hover{
      box-shadow: 0 5px 15px -5px rgba(0,0,0,0.8);
 }
 
 #facebook:hover {
   background-color: #4267B2;
 }
 
 #twitter:hover {
 background-color: #1DA1F2;
 
 }
 #youtube:hover {
       background-color: #c4302b;
 }
 #pinterest:hover {
    background-color:#c8232c;
 }
 #instagram:hover {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
   background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
   
 
 }
 #tumblr:hover {
     background-color: #34526f;
 }
 #whatsapp:hover {
        background-color:#25D366;
 }
 
 .facebook:hover, 
 .twitter:hover, 
 .youtube:hover, 
 .pinterest:hover,
 .instagram:hover, 
 .tumblr:hover,
 .whatsapp:hover {
  color:#fff;
  transform: scale(1.3);
 
 }
/* Media Queries */

@media(max-width: 991px){
  html{
    font-size: 55%;
  }
  .header{
    padding: 2rem;
  }
  section{
    padding: 8rem 2rem;
  }
}

@media (max-width: 768px){

  #menu-btn{
    display: inline-block;
  }

  .header .navbar{
    position: absolute;
    top: 99%;
    left: 0; right: 0;
    background: var(--white);
    border-top: .1rem solid var(--main);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .header .navbar.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .header .navbar a{
    display: block;
    margin: 2rem;
    font-size: 2rem;
  }

  .home{
    background-position: left;
  }

  .home .content h3{
    font-size: 5rem;
  }

  .deco-title{
    display: none;
  }

}

@media (max-width: 450px){
  html{
    font-size: 50%;
  }

  .home .content h3{
    font-size: 4rem;
  }

}


@media screen and (max-width: 1680px) {
  /* Homepage */
  .flickity-page-dots {
    bottom: 200px;
  }
  .carousel-arrow {
    bottom: 3rem;
  }
  body {
    width: 100%;
  }
}
@media screen and (max-width: 1440px) {
  /* Homepage */
  .flickity-page-dots {
    bottom: 200px;
    left: 90px;
  }
}
@media screen and (max-width: 1280px) {
  /* Homepage */
  .flickity-page-dots {
    bottom: 130px;
    left: 150px;
  }
  .carousel-arrow {
    bottom: 1rem;
  }
}
@media screen and (max-width: 1024px) {
  /* Homepage */
  .flickity-page-dots {
    bottom: 60px;
    left: 150px;
  }
  .carousel-arrow {
    bottom: -7rem;
  }
  
  body {
    width: 100%;
  }
}
@media screen and (max-width: 990px) {
  .carousel-slide-copy {
    font-size: 1.5rem;
  }
  .carousel-slide-copy p {
    padding-right: 20px;
  }
  .flickity-page-dots {
    display: none;
  }
  
}
@media screen and (max-width: 620px) {
  .carousel-slide {
    height: vh;
    grid-template-columns: 1fr;
  }
  .carousel-slide-image {
    justify-self: center;
    align-content: center;
  }
  .carousel-slide-copy {
    justify-self: center;
    text-align: center;
  }
}
@media screen and (max-width: 568px) {
  .carousel-cell img {
    height: 200px;
  }
  .carousel-slide {
    height: 100vh;
  }
}
@media screen and (max-width: 480px) {
  .carousel-slide {
    grid-template-columns: 1fr;
    height: 800px;
  }
  .carousel-slide-image {
    justify-self: center;
    height: 200px;
  }
  .carousel-slide-copy h1,
  p,
  a {
    text-align: center;
    padding: 10px;
  }
  .carousel-cell img {
    height: 200px;
  }
  .flickity-page-dots {
    bottom: 10px;
    left: 0px;
  }
  .carousel-arrow {
    bottom: 90rem;
  }
}
/* iPhone 8 Plus, 7 Plus, 6 Plus */
@media screen and (max-width: 414px) {
  /* Home Page */
  .carousel-slide {
    grid-template-columns: 1fr;
    height: 100vh;
  }
  .carousel-slide-image {
    justify-self: center;
  }
  .carousel-slide-copy h1,
  p,
  a {
    text-align: center;
    padding: 10px;
  }
  .carousel-cell img {
    height: 200px;
  }
  .flickity-page-dots {
    bottom: 620px;
    left: 0px;
  }
  .carousel-arrow {
    bottom: 90rem;
  }
  .carousel-slide-image {
    justify-self: center;
    align-self: end;
  }
  .carousel-slide-copy {
    font-size: 1.5rem;
    justify-self: start;
    align-self: start;
    text-align: center;
  }
  .carousel-slide-copy h1,
  p {
    padding: 10px;
    margin: 0px;
  }
}
/* iPhone X, 8, 7, 6 */
@media screen and (max-width: 375px) {
  .flickity-page-dots {
    bottom: 670px;
    left: 0px;
  }
}
.container1 .card {
  position: relative;
  width: 300px;
  height: 300px;
}

.container1 .card div {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: 1s;
}

.container1 .card #front {
  transform: perspective(500px) rotateY(0deg);
  transition: 1s;
  border-radius: 1px solid black;
}

.container1 .card:hover #front {
  transform: perspective(500px) rotateY(180deg);
}

.container1 .card #back {
  background-color: #b1d0ef;
  display: flex;
  flex-direction: column;
  transform: perspective(500px) rotateY(180deg);
  font-size: 20px;
  padding: 10px;
}

.container1 .card #back .adoptame {
  font-size: 30px;
  padding-top: 30px;
}

.container1 .card #back p {
  padding-top: 20px;
}

.container1 .card:hover #back {
  background-color: white;
  transform: perspective(500px) rotateY(360deg);
  background-color: #b1d0ef;
}

.image-box {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*pagina Los perdidos */

/* Pagina 2*/
.container1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 290px));
  grid-gap: 1rem;
  padding: 2rem;
  justify-content: center;
  box-shadow: 0 1px 1px #000;
}

.img-gallery {
  background-position: top;
  background-size: cover;
  height: 300px;
  width: 300px;
  box-shadow: 0 2px 10px #000;
  cursor: pointer;
  transition: all 0.2s;
  
  
}

.container1 .img-gallery {
  margin: 0px;
  padding: 10px;
}

.img-gallery:hover {
  box-shadow: none;
  transform: scale(1.1);
  margin: 20px;
}



.titulos-perros {
  display: flex;
  padding-top: 20px;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.contenedor-adopcion-principal {
  display: flex;
  flex-wrap: nowrap;
  padding: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #b1d0ef;
  color: black;
  height: 450px;
  width: 100%;
  font-size: 30px;
  border-bottom: 2px #126b8f solid;
}

.contenedor-adopcion-principal h1 {
  border-bottom: solid #00cc66 5px;
}

.contenedor-adopcion-principal p {
  width: 70%;
  padding-top: 20px;
}

@media(max-width: 600px){
  .contenedor-adopcion-principal{
    font-size: 19px;
    padding: 20px;
  }
 
}

/*Página Donar */

.main-donar {
  padding-top: 100px;
  height: 600px;
  background-color: white;
}

.donate-form fieldset {
	border: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

.donate-form legend {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: bold;
    text-transform: uppercase;
	color: #020202;
	padding-left: 390px;
  
}



.donate-form ul {
	margin: 0;
	padding: 0;
}

.donate-form li {
	float: left;
	list-style: none;
	width: 100%;
	margin-bottom: 10px;
}

.donate-form li label {
    color: #ffffff;
    font-size: 13px;
    text-transform: uppercase;
}

/* FORM AMOUNTS LAYOUT--------------------------------------------------------------------*/
.amounts {
	overflow: auto;
	zoom: 1;
	margin: 0 auto;
	padding: 0;
}
.amounts li {
  display: block;
	width: 44%;
	float: left;
	clear: none;
	margin: 10px 3%;
}

.amounts li input[type="radio"] { 

	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px; 
}
.amounts li label,
.amounts li#amount_total_other {
    background-color:#2187C7;
    
    background-image: linear-gradient(bottom, rgba(41,53,183,0) 0%, #b9bace 100%);
    box-shadow: 0 1px 3px rgba(0,0,0,.75);
    backface-visibility: hidden;
    border: 0;
    border-radius: 3px;
    color: #ffffff;
    cursor: pointer;
    display: block;
    font-size: 26px;
    font-weight: 700;
    outline: 0 none;
    padding: 12px 1%;
    text-align: center;
    width: 98%;
    transition: all .3s ease-in-out;
    box-shadow: 0 1px 3px rgba(0,0,0,.75);
}
.amounts li label:hover,
.amounts li#amount_total_other:hover {
    background-color:#ff6e01;
    
    background-image: linear-gradient(bottom, #a4aaeb 0%, rgba(41,53,183,0) 100%);
}
.amounts li input[type="radio"].checked + label,
.amounts li#amount_total_other.checked {
    color: #030737;
	background: #fad000;
	border: 0;
}

.amounts li#amount_total_other {
	width: 36% !important;
  padding: 12px 4%;
  margin: 10px 3%;
}

.amounts #amount_total_other label {
	display: none;
}

.amounts #amount_total_other span.amount-currency {
	display: inline-block;
	width: 6%;
	font-size: 26px;
  font-weight: 700;
}

.amounts #amount_total_other input#field-amount_text {
	display: inline-block;
	width: 90%;
  font-size: 20px;
  line-height: 28px;
	height: 24px;
    padding: 0 2%;
    border: none;
    background: transparent;
    color: #ffffff;
}

.amounts li#amount_total_other.checked input#field-amount_text {
    color: #878cc4;
}


/* footer */

.footer{
  background: url(../images/footer.jpg) no-repeat;
  background-size: cover;
  padding: 3rem 7%;
}

.footer .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.footer .box-container .box h3{
  font-size: 2.5rem;
  color: var(--main);
  padding: 1rem 0;
}

.footer .box-container .box p{
  font-size: 1.5rem;
  line-height: 1.8;
  color: var(--white);
  padding: 1rem 0;
}

.footer .box-container .box .links{
  display: block;
  font-size: 1.5rem;
  color: var(--white);
  padding: 1rem 0;
}

.footer .box-container .box .links i{
  color: var(--main);
  padding-right: .5rem;
}

.footer .box-container .box .links:hover i{
  padding-right: 2rem;
}

.footer .box-container .box .days{
  margin-left: 2.2rem;
  line-height: .2;
}

.footer .box-container .box .email{
  width: 100%;
  margin: .7rem 0;
  padding: 1rem;
  border-radius: .5rem;
  background: var(--white);
  font-size: 1.6rem;
  color: var(--black);
  text-transform: none;
}

.footer .box-container .box .share a{
  height: 3rem;
  width: 3rem;
  line-height: 3rem;
  color: var(--black);
  background: var(--white);
  font-size: 1.2rem;
  border-radius: 5rem;
  margin-right: .8rem;
  text-align: center;
  margin-top: 1.4rem;
}

.footer .box-container .box .share a:hover{
  background: var(--main);
}

.footer .credit{
  font-size: 2rem;
  text-align: center;
  margin-top: 2rem;
  padding-top: 2.5rem;
  color: var(--black);
  border-top: .2rem solid rgba(0, 0, 0, 0.2);
}

.footer .credit .link{
  color: var(--main);
}

/* end */

/* media queries */

@media (max-width: 1000px){

  .amounts {
  display: flex;
  flex-wrap: nowrap;
  padding: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
  height: 450px;
  width: 100%;
  font-size: 30px;

  }
  

  .header .navbar{
    position: absolute;
    top: 99%;
    left: 0; right: 0;
    background: var(--white);
    border-top: .1rem solid var(--main);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    
    
  }

@media(max-width: 1200px){
  html{
    font-size: 45%;
  }
  .header{
    padding: 1.5rem;
  }
  section{
    padding: 6rem 1.2rem;
  }
}

@media (max-width: 768px){

  #menu-btn{
    display: inline-block;
  }

  .header .navbar{
    position: absolute;
    top: 99%;
    left: 0; right: 0;
    background: var(--white);
    border-top: .1rem solid var(--main);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    
    
  }

  .header .navbar.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .header .navbar a{
    display: block;
    margin: 2rem;
    font-size: 2rem;
    
    }

  .home{
    background-position: left;
    
    
  }

  .home .content h3{
    font-size: 5rem;
  }

  .deco-title{
    display: none;
  }

}

@media (max-width: 480px){
  html{
    font-size: 50%;
  }

  .home .content h3{
    font-size: 4rem;
  }

}
}